/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/Assets/Captures/
/Assets/Captures.meta
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
/.vs/
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/StreamingAssets/Generated*
*.tmp
*.bak
*.orig
.DS_Store
